:root{
    --bg-button: rgb(244, 237, 237);
    --border-button: solid 1px green;
}

.button {
    font-size:  1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}
.button:active{
    background-color: #857272;
}

.button.double{
    grid-column: span 2;
}

.button.triple{
    grid-column: span 3;
}

.button.operation{
    background-color: rgb(219, 135, 45);
    color:rgb(254, 253, 252)
}

.button.operation:active{
    background-color: rgba(228, 132, 15, 0.875);
}